In [2]:
import pandas as pd
df1=pd.read_csv("/content/results_improved - results_improved (1).csv") #in the results_improved file I added one more col of nlp queries
import re

nlp_queries = df1[["Text"]]
gold_queries = df1[["Gold"]]
predicted_queries = df1[["Preds_ec_trb"]]


nlp_queries.to_csv("nlp_queries.csv", index=False)
gold_queries.to_csv("gold_queries.csv", index=False)
predicted_queries.to_csv("predicted_queries.csv", index=False)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
def find_comparison_sign_regex(nlp_query):
    less_than_match = re.search(r'\b(less|smaller|shorter|fewer|below)(?:\s+than)?\b', nlp_query)
    greater_than_match = re.search(r'\b(greater|larger|longer|more|above)(?:\s+than)?\b', nlp_query)
    equal_to_match = re.search(r'\bequal\s+to\b', nlp_query)

    if less_than_match:
        return '<'
    elif greater_than_match:
        return '>'
    elif equal_to_match:
        return '='
    else:
        return None



def correct_comparison_sign(predicted_query, correct_sign):
    if correct_sign:
        return re.sub(r'(<unk>)', correct_sign, predicted_query)
    else:
        return re.sub(r'<unk>', '', predicted_query)
def correct_or_remove_tags(predicted_query):
    return re.sub(r'<.*?>','',predicted_query)

for i in range(len(nlp_queries)):
    nlp_query = nlp_queries.iloc[i]["Text"]
    gold_query = gold_queries.iloc[i]["Gold"]
    predicted_query = predicted_queries.iloc[i]["Preds_ec_trb"]

    correct_sign = find_comparison_sign_regex(nlp_query)
    if correct_sign:
        corrected_query = correct_comparison_sign(predicted_query, correct_sign)
        corrected_query = correct_or_remove_tags(corrected_query)
        predicted_queries.at[i, "Corrected_Predicted_Query"] = corrected_query
        
        print(f"NLP Query: {nlp_query} | Original: {predicted_query} | Corrected: {corrected_query}")

NLP Query: Show the names of singers that have more than one song. | Original: select t1.name from singer as t1 join song as t2 on | Corrected: select t1.name from singer as t1 join song as t2 on
NLP Query: Which district has both stores with less than 3000 products and stores with more than 10000 products? | Original: select district from shop where store_id not in (select store | Corrected: select district from shop where store_id not in (select store
NLP Query: Count the number of dogs of an age below the average. | Original: select count(*) from dogs where age <unk>(select | Corrected: select count(*) from dogs where age <(select
NLP Query: List all song names by singers above the average age. | Original: select name from singer where age > (select avg( | Corrected: select name from singer where age > (select avg(
NLP Query: What are the African countries that have a\'a0 population less than any country in Asia? | Original: select countrycode from country where population <unk>(select country_ | Corrected: select countrycode from country where population <(select country_
NLP Query: What are the different years in which there were cars produced that weighed less than 4000 and also cars that weighted more than 3000 ? | Original: select year from cars where weight <unk>4000 and year > 3000 | Corrected: select year from cars where weight  3000
NLP Query: what are the different names of the singers that have sales more than 300000? | Original: select highest_position from singer where net worth_millions | Corrected: select highest_position from singer where net worth_millions
NLP Query: How many cars have a larger accelerate than the car with the largest horsepower? | Original: select count(*) from cars where accelerate = "accrob | Corrected: select count(*) from cars where accelerate = "accrob
NLP Query: What are the names of the singers that have more than one songs? | Original: select name from singer where net worth_millions > 1</s> | Corrected: select name from singer where net worth_millions > 1
NLP Query: Which grades have 4 or more high schoolers? | Original: select grade from high_schooler where grade >= 4</s> | Corrected: select grade from high_schooler where grade >= 4
NLP Query: What are the codes of template types that have fewer than 3 templates? | Original: select template_type_code from templates where template_type_code | Corrected: select template_type_code from templates where template_type_code
NLP Query: What are the ids of documents that have 2 or more paragraphs? | Original: select document_id from documents where document_name >= 2</s> | Corrected: select document_id from documents where document_name >= 2
NLP Query: Show the names of conductors that have conducted more than one orchestras. | Original: select t1.name from conductor as t1 join performance as t2 | Corrected: select t1.name from conductor as t1 join performance as t2
NLP Query: Return the version numbers and template type codes of templates with a version number greater than 5. | Original: select version_number, template_type_code from templates where | Corrected: select version_number, template_type_code from templates where
NLP Query: What is the model for the car with a weight smaller than the average? | Original: select model from cars where weight <unk>(select | Corrected: select model from cars where weight <(select
NLP Query: Give the names of countries that are in Europe and have a population equal to 80000. | Original: select name from country where population = "europe" and population > 80000 | Corrected: select name from country where population = "europe" and population > 80000
NLP Query: Which makers designed more than 3 car models? List full name and the id. | Original: select maker from car_mades where full_name > 3</s> | Corrected: select maker from car_mades where full_name > 3
NLP Query: Show all template type codes with less than three templates. | Original: select template_type_code from templates where template_type_code | Corrected: select template_type_code from templates where template_type_code
NLP Query: What are the ids of all tv channels that have more than 2 TV channels? | Original: select id from tv_channel where channel > 2</s> | Corrected: select id from tv_channel where channel > 2
NLP Query: Which shops' number products is above the average? Give me the shop names. | Original: select t2.name from shop as t1 join shop as t2 on | Corrected: select t2.name from shop as t1 join shop as t2 on
NLP Query: What is the maximum number of final tables made among poker players with earnings less than 200000? | Original: select max(t1.final_table_made) from poker_players w | Corrected: select max(t1.final_table_made) from poker_players w
NLP Query: How many cities in each district have a population that is above the average population across all cities? | Original: select count(*), district from city group by district h | Corrected: select count(*), district from city group by district h
NLP Query: Among the cars with more than lowest horsepower, which ones do not have more than 3 cylinders? List the car makeid and make name. | Original: select t1.make, t1.make from cars_data as t1 | Corrected: select t1.make, t1.make from cars_data as t1
NLP Query: What is the number of the cars with horsepower more than 150? | Original: select count(*) from cars where horsepower > 150</s> | Corrected: select count(*) from cars where horsepower > 150
NLP Query: What is the number of cars with a horsepower greater than 150? | Original: select count(*) from cars where horsepower > 150</s> | Corrected: select count(*) from cars where horsepower > 150
NLP Query: How many pets have a greater weight than 10? | Original: select count(*) from pets where weight > 10</s> | Corrected: select count(*) from pets where weight > 10
NLP Query: What are the ids and makers of all car makers that produce at least 2 models and make more than 3 cars? | Original: select maker, id from cars group by maker hav | Corrected: select maker, id from cars group by maker hav
NLP Query: What are the different models created by either the car maker General Motors or weighed more than 3500? | Original: select model from car_makers where maker = ' | Corrected: select model from car_makers where maker = '
NLP Query: Find the id, last name and cell phone of the professionals who live in the state of Indiana or have performed more than two treatments. | Original: select professional_id, last_name, cell_number from | Corrected: select professional_id, last_name, cell_number from
NLP Query: What are the first name and last name of the professionals who have done treatment with cost below average? | Original: select first_name, last_name from treatment where cost_of | Corrected: select first_name, last_name from treatment where cost_of
NLP Query: Which African countries have a smaller population than that of any country in Asia? | Original: select countrycode from country where population > (select countrycode | Corrected: select countrycode from country where population > (select countrycode
NLP Query: Which distinctive models are produced by maker with the full name General Motors or weighing more than 3500? | Original: select distinct t1.model from cars_data as t1 jo | Corrected: select distinct t1.model from cars_data as t1 jo
NLP Query: Which dogs have not cost their owner more than 1000 for treatment ? List the dog names . | Original: select t1.name from dogs as t1 join treatment as t2 on | Corrected: select t1.name from dogs as t1 join treatment as t2 on
NLP Query: Find the id and cell phone of the professionals who operate two or more types of treatments. | Original: select professional_id, cell_number from treatments where treatment | Corrected: select professional_id, cell_number from treatments where treatment
NLP Query: What is the number of cars with more than 4 cylinders? | Original: select count(*) from cars where horsepower > 4</s> | Corrected: select count(*) from cars where horsepower > 4
NLP Query: Find the cities that have more than one employee under age 30. | Original: select city from hiring where age > 1</s> | Corrected: select city from hiring where age > 1
NLP Query: What are the id, role, and first name of the professionals who have performed two or more treatments? | Original: select role_code, role_code from treatments where treatment_type | Corrected: select role_code, role_code from treatments where treatment_type
NLP Query: Find the government form name and total population for each government form whose average life expectancy is longer than 72. | Original: select name, sum(population) from government where av | Corrected: select name, sum(population) from government where av
NLP Query: Give the total population and average surface area corresponding to countries in North America that have a surface area greater than 3000 . | Original: select sum(population), avg(surface_area) | Corrected: select sum(population), avg(surface_area)
NLP Query: Show the years in which orchestras that have given more than one performance are founded. | Original: select type from performance order by type_of_founded desc limit | Corrected: select type from performance order by type_of_founded desc limit
NLP Query: Show ids for all templates that are used by more than one document. | Original: select t1.document_id from templates as t1 join documents as | Corrected: select t1.document_id from templates as t1 join documents as
NLP Query: Find the number of cities in each district whose population is greater than the average population of cities? | Original: select count(*), district from city group by district h | Corrected: select count(*), district from city group by district h
NLP Query: What are the names of students who have 2 or more likes? | Original: select t1.name from friend as t1 join likes as t2 | Corrected: select t1.name from friend as t1 join likes as t2
NLP Query: In which years cars were produced weighing no less than 3000 and no more than 4000 ? | Original: select year from cars where weight <unk> 3000 and weight <unk>4 | Corrected: select year from cars where weight < 3000 and weight <4
NLP Query: find id of the tv channels that from the countries where have more than two tv channels. | Original: select channel from tv_country where tv_ | Corrected: select channel from tv_country where tv_
NLP Query: Return the maximum final tables made across all poker players who have earnings below 200000. | Original: select max(t1.final_table_made) from poker_players w | Corrected: select max(t1.final_table_made) from poker_players w
NLP Query: How many countries has more than 2 car makers ? | Original: select count(*) from countries where maker > 2</s> | Corrected: select count(*) from countries where maker > 2
NLP Query: Which are the car makers which produce at least 2 models and more than 3 car makers ? List the id and the maker . | Original: select maker, id from car_making group by maker | Corrected: select maker, id from car_making group by maker
NLP Query: Which professionals live in the state of Indiana or have done treatment on more than 2 treatments? List his or her id, last name and cell phone. | Original: select professional_id from treatments where state = "indiana" | Corrected: select professional_id from treatments where state = "indiana"
NLP Query: Find all airlines that have fewer than 200 flights. | Original: select t1.airline from flights as t1 join aircraft as | Corrected: select t1.airline from flights as t1 join aircraft as
NLP Query: What are the names of countries that speak more than 2 languages, as well as how many languages they speak? | Original: select name from country where language > 2</s> | Corrected: select name from country where language > 2
NLP Query: What are the ids and names of the battles that led to more than 10 people killed in total. | Original: select t1.id, t1.name from battle as t1 jo | Corrected: select t1.id, t1.name from battle as t1 jo
NLP Query: What is the first name and gender of the all the students who have more than one pet? | Original: select t1.fname, t1.age from pets as t1 | Corrected: select t1.fname, t1.age from pets as t1
NLP Query: Find the codes of countries that have more than 50 players. | Original: select country_code from players where count(*) > 50</s> | Corrected: select country_code from players where count(*) > 50
NLP Query: What are the id and names of the countries which have more than 3 car makers or produce the 'fiat' model? | Original: select country, id from countries where country_name > 3 | Corrected: select country, id from countries where country_name > 3
NLP Query: find the names of museums which have more staff than the minimum staff number of all museums opened after 2010. | Original: select t1.name from museum as t1 join visit as t2 on | Corrected: select t1.name from museum as t1 join visit as t2 on
NLP Query: Which Asian countries have a population that is larger than any country in Africa? | Original: select countrycode from country where population > (select countrycode | Corrected: select countrycode from country where population > (select countrycode
NLP Query: Find the name of tourney that has more than 10 matches. | Original: select t1.tourney_name from matches as t1 join tourney_namets as | Corrected: select t1.tourney_name from matches as t1 join tourney_namets as
NLP Query: What are the Asian countries which have a population larger than that of any country in Africa? | Original: select countrycode from country where population > (select countrycode | Corrected: select countrycode from country where population > (select countrycode
NLP Query: What are the names of high schoolers who have 3 or more friends? | Original: select t1.name from highschooler as t1 join likes | Corrected: select t1.name from highschooler as t1 join likes
NLP Query: What are\'a0 the different countries with singers above age 20? | Original: select country from singer where age > 20</s> | Corrected: select country from singer where age > 20
NLP Query: What is the number of cars with a greater accelerate than the one with the most horsepower? | Original: select count(*) from cars where accelerate > (select speed from | Corrected: select count(*) from cars where accelerate > (select speed from
NLP Query: Which professionals have operated a treatment that costs less than the average? Give me theor first names and last names. | Original: select professional_id from treatments where cost_of_treatment > ( | Corrected: select professional_id from treatments where cost_of_treatment > (
NLP Query: Find the average life expectancy and total population for each continent where the average life expectancy is shorter than 72? | Original: select avg(life_attendancy), sum(life_ | Corrected: select avg(life_attendancy), sum(life_
NLP Query: Show countries where a singer above age 40 and a singer below 30 are from. | Original: select country from singer where age > 40 intersect select | Corrected: select country from singer where age > 40 intersect select
NLP Query: What are the ids and names of all countries that either have more than 3 car makers or produce fiat model ? | Original: select country, id from countries where country_name > 3 | Corrected: select country, id from countries where country_name > 3
NLP Query: What is the number of countries with more than 2 car makers ? | Original: select count(*) from countries where maker > 2</s> | Corrected: select count(*) from countries where maker > 2
NLP Query: How many dogs have an age below the average? | Original: select count(*) from dogs where age <unk>(select | Corrected: select count(*) from dogs where age <(select
NLP Query: What are the names of properties that are either houses or apartments with more than 1 room? | Original: select property_name from properties where room_count > 1</s> | Corrected: select property_name from properties where room_count > 1
NLP Query: Find the districts in which there are both shops selling less than 3000 products and shops selling more than 10000 products. | Original: select district from shop where shop_id not in (select shop | Corrected: select district from shop where shop_id not in (select shop
NLP Query: Find the first name and gender of student who have more than one pet. | Original: select t1.fname, t1.age from student as t1 | Corrected: select t1.fname, t1.age from student as t1
NLP Query: Which airlines have less than 200 flights? | Original: select t1.airline from flights as t1 join aircraft as | Corrected: select t1.airline from flights as t1 join aircraft as
NLP Query: How many visitors below age 30 are there? | Original: select count(*) from visit where age <unk> 30</s> | Corrected: select count(*) from visit where age
NLP Query: What are the names of high schoolers who have a grade of over 5 and have 2 or more friends? | Original: select t1.name from highschooler as t1 join likes | Corrected: select t1.name from highschooler as t1 join likes
NLP Query: Find the names of stores whose number products is more than the average number of products. | Original: select t1.name from shop as t1 join number_products as | Corrected: select t1.name from shop as t1 join number_products as
NLP Query: What are the different government forms and what is the total population of each for government forms that have an average life expectancy greater than 72? | Original: select governmentform, sum(population) from government | Corrected: select governmentform, sum(population) from government
NLP Query: Give the names of poker players who have earnings above 300000. | Original: select t1.name from poker_player as t1 join people as | Corrected: select t1.name from poker_player as t1 join people as
NLP Query: What are the names of the dogs for which the owner has not spend more than 1000 for treatment ? | Original: select t1.name from dogs as t1 join treatment as t2 on | Corrected: select t1.name from dogs as t1 join treatment as t2 on
NLP Query: Find the model of the car whose weight is below the average weight. | Original: select model from cars where weight <unk>(select | Corrected: select model from cars where weight <(select
NLP Query: Return the nationalities for which there are two or more people. | Original: select nationality from people where nationality >= 2</s> | Corrected: select nationality from people where nationality >= 2
NLP Query: What are the codes of countries with more than 50 players? | Original: select country_code from players where country_code > 50</s> | Corrected: select country_code from players where country_code > 50
NLP Query: Show distinct names of singers that have songs with sales more than 300000. | Original: select highest_position from singer where net worth_millions | Corrected: select highest_position from singer where net worth_millions
NLP Query: What are years of founding for orchestras that have had more than a single performance? | Original: select year_of_founded from performance order by count(*) | Corrected: select year_of_founded from performance order by count(*)
NLP Query: Among the cars that do not have the minimum horsepower , what are the make ids and names of all those with less than 4 cylinders ? | Original: select make, mpg from cars where horsepower <unk> 4</s> | Corrected: select make, mpg from cars where horsepower
NLP Query: How many pets are owned by students that have an age greater than 20? | Original: select count(*) from pets where age > 20</s> | Corrected: select count(*) from pets where age > 20
NLP Query: What are the template ids of any templates used in more than a single document? | Original: select t1.document_id from templates as t1 join documents as | Corrected: select t1.document_id from templates as t1 join documents as

Way 2 (Using SpaCy), if in report we want to present it in complex way

In [ ]:
nlp = spacy.load("en_core_web_sm") #for parsing nlp queries , this is a predefined nlp model

def find_comparison_sign(nlp_query):
    doc = nlp(nlp_query)
    comparison_sign = None
    for token in doc:
        if token.dep_ in ("prep", "relcl") and token.head.text in ("less", "more", "equal"):
            if token.text == "than":
                if token.head.text == "less":
                    comparison_sign = "<"
                elif token.head.text == "more":
                    comparison_sign = ">"
            elif token.text == "to":
                if token.head.text == "equal":
                    comparison_sign = "="
            break
    return comparison_sign