In [3]:
!pip install -q -U datasets > /dev/null
# !pip install transformers
!pip install --no-cache-dir transformers sentencepiece

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.28.1-py3-none-any.whl (7.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.0/7.0 MB 100.2 MB/s eta 0:00:00
Collecting sentencepiece
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 210.5 MB/s eta 0:00:00
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from transformers) (6.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.10/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (0.14.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from transformers) (3.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from transformers) (23.1)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 253.5 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (2023.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->transformers) (2.0.12)
Installing collected packages: tokenizers, sentencepiece, transformers
Successfully installed sentencepiece-0.1.99 tokenizers-0.13.3 transformers-4.28.1

In [4]:
from transformers import AutoModelWithLMHead, AutoTokenizer

import random, warnings
warnings.filterwarnings("ignore")


from torch.utils.data import Dataset

In [14]:
tokenizer = AutoTokenizer.from_pretrained("t5-base")
model = AutoModelWithLMHead.from_pretrained("/content/drive/MyDrive/modelt5spider")

In [ ]:
# tokenizer = AutoTokenizer.from_pretrained("mrm8488/t5-base-finetuned-wikiSQL", use_fast=False)
# model = AutoModelWithLMHead.from_pretrained("mrm8488/t5-base-finetuned-wikiSQL")

Downloading (…)okenizer_config.json:   0%|          | 0.00/25.0 [00:00<?, ?B/s]

Downloading (…)lve/main/config.json:   0%|          | 0.00/1.23k [00:00<?, ?B/s]

The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.

Downloading (…)ve/main/spiece.model:   0%|          | 0.00/792k [00:00<?, ?B/s]

Downloading (…)cial_tokens_map.json:   0%|          | 0.00/1.79k [00:00<?, ?B/s]

The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.
The `xla_device` argument has been deprecated in v4.4.0 of Transformers. It is ignored and you can safely remove it from your `config.json` file.

Downloading pytorch_model.bin:   0%|          | 0.00/1.19G [00:00<?, ?B/s]

# Inferencing on SPIDER

Using pre-trained T5 model

In [6]:
def get_sql(query):
    
    input_text = "translate English to SQL: %s </s>" % query
    
    features = tokenizer([input_text], return_tensors='pt')

    output = model.generate(input_ids=features['input_ids'], 
               attention_mask=features['attention_mask'])

    return tokenizer.decode(output[0])

In [7]:
def get_sql(query, schema):
    # Concatenate the schema information with the input query text, separated by a special token, such as `<schema>`
    input_text = f"translate English to SQL: {query} <schema> {schema} </s>"

    features = tokenizer([input_text], return_tensors='pt')

    output = model.generate(input_ids=features['input_ids'], 
                             attention_mask=features['attention_mask'])

    decoded_output = tokenizer.decode(output[0])

    # Remove the <pad> token from the output
    return decoded_output.replace('<pad>', '').strip()

In [8]:
!pip install datasets
from transformers import AutoModelWithLMHead, AutoTokenizer
from datasets import load_dataset
import random, warnings
import nltk
warnings.filterwarnings("ignore")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: datasets in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets) (1.5.3)
Requirement already satisfied: xxhash in /usr/local/lib/python3.10/dist-packages (from datasets) (3.2.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.8.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets) (23.1)
Requirement already satisfied: multiprocess in /usr/local/lib/python3.10/dist-packages (from datasets) (0.70.14)
Requirement already satisfied: tqdm>=4.62.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (4.65.0)
Requirement already satisfied: responses<0.19 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.18.0)
Requirement already satisfied: dill<0.3.7,>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.3.6)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from datasets) (1.22.4)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (6.0)
Requirement already satisfied: huggingface-hub<1.0.0,>=0.11.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.14.1)
Requirement already satisfied: fsspec[http]>=2021.11.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (2023.4.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (2.27.1)
Requirement already satisfied: pyarrow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (9.0.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (2.0.12)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.9.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (23.1.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.11.0->datasets) (4.5.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub<1.0.0,>=0.11.0->datasets) (3.12.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->datasets) (1.26.15)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->datasets) (1.16.0)

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:



from torch.utils.data import Dataset
import json
from datasets import load_dataset

spider_dataset = load_dataset("spider")
class SpiderDataset(Dataset):
    def __init__(self, data, tokenizer, max_length):
        self.data = data
        self.tokenizer = tokenizer
        self.max_length = max_length

    def __len__(self):
        return len(self.data)

    def __getitem__(self, idx):
        db_id = self.data[idx]['db_id']
        schema = self.get_schema(db_id)

        input_text = f"translate English to SQL: {self.data[idx]['question']} <schema> {schema} </s>"
        target_text = self.data[idx]['query']
        encoding = self.tokenizer(input_text, max_length=self.max_length, truncation=True, padding='max_length', return_tensors='pt')
        target = self.tokenizer(target_text, max_length=self.max_length, truncation=True, padding='max_length', return_tensors='pt')
        return {
            'input_ids': encoding['input_ids'].flatten(),
            'attention_mask': encoding['attention_mask'].flatten(),
            'labels': target['input_ids'].flatten(),
            'data_item': self.data[idx] 
        }

    def get_schema(self, db_id):
        schema_data = next(item for item in tables_data if item['db_id'] == db_id)
        schema = " ".join([f"Table: {table_name} Columns: {', '.join([col_name for _, col_name in schema_data['column_names'] if schema_data['table_names'][table_idx] == table_name])}" for table_idx, table_name in enumerate(schema_data['table_names'])])
        return schema

# Load tables.json
with open('/content/drive/MyDrive/spider/tables.json', 'r') as f:
    tables_data = json.load(f)

train_dataset = SpiderDataset(spider_dataset['train'], tokenizer, max_length=128)
val_dataset = SpiderDataset(spider_dataset['validation'], tokenizer, max_length=128)

WARNING:datasets.builder:Found cached dataset spider (/root/.cache/huggingface/datasets/spider/spider/1.0.0/4e5143d825a3895451569c8b9b55432b91a4bc2d04d390376c950837f4680daa)

  0%|          | 0/2 [00:00<?, ?it/s]

In [16]:
gold_file = open('gold.txt', 'w')
pred_file = open('pred.txt', 'w')

num_queries = 100
count = 0
for idx in random.sample(range(len(val_dataset)), num_queries):
    item = val_dataset[idx]
    data_item = item['data_item']
    print(f'{count + 1}/{num_queries}')
    print(f"Text: {data_item['question']}")

    # Get schema information
    db_id = data_item['db_id']
    schema = val_dataset.get_schema(db_id)

    pred = get_sql(data_item['question'], schema)
    gold = data_item['query']

    gold_file.write(gold + '\t' + db_id + '\n')
    pred_file.write(pred + '\n')
    
    print(f"Pred SQL: {pred}")
    print(f"True SQL: {gold}\n")

    count += 1
  
gold_file.close()
pred_file.close()

Token indices sequence length is longer than the specified maximum sequence length for this model (517 > 512). Running this sequence through the model will result in indexing errors

1/100
Text: What are the different years in which there were cars produced that weighed less than 4000 and also cars that weighted more than 3000 ?
Pred SQL: SELECT DISTINCT YEAR FROM automobiles AS t1 JOIN country
True SQL: select distinct year from cars_data where weight between 3000 and 4000;

2/100
Text: List the names of poker players ordered by the final tables made in ascending order.
Pred SQL: SELECT T1.name FROM Poker_players AS T1 JOIN players AS
True SQL: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Final_Table_Made

3/100
Text: Find the id, last name and cell phone of the professionals who live in the state of Indiana or have performed more than two treatments.
Pred SQL: SELECT T1.id, T2.last_name, T2.last
True SQL: SELECT professional_id ,  last_name ,  cell_number FROM Professionals WHERE state  =  'Indiana' UNION SELECT T1.professional_id ,  T1.last_name ,  T1.cell_number FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >  2

4/100
Text: List the first and last name of all players in the order of birth date.
Pred SQL: SELECT T1.player_id, T1.player_id,
True SQL: SELECT first_name ,  last_name FROM players ORDER BY birth_date

5/100
Text: How many flights does airline 'JetBlue Airways' have?
Pred SQL: SELECT T1.Airline_ID FROM Flights AS T1 JOIN Flight
True SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

6/100
Text: What is the name of the country with the most car makers?
Pred SQL: SELECT T1.country_id FROM car_making_id WHERE
True SQL: SELECT T2.CountryName FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId GROUP BY T1.Country ORDER BY Count(*) DESC LIMIT 1;

7/100
Text: What is the lowest grade of students who do not have any friends?
Pred SQL: SELECT CLASS FROM Student WHERE CLASS = *, CLASS =
True SQL: SELECT min(grade) FROM Highschooler WHERE id NOT IN (SELECT T1.student_id FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id)

8/100
Text: How many friends does the high school student Kyle have?
Pred SQL: SELECT count(*) FROM student WHERE class = "Kad"
True SQL: SELECT count(*) FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id WHERE T2.name  =  "Kyle"

9/100
Text: What are the distinct template type descriptions for the templates ever used by any document?
Pred SQL: SELECT T1.type_code FROM Template_Types AS T1 JOIN
True SQL: SELECT DISTINCT T1.template_type_description FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code JOIN Documents AS T3 ON T2.Template_ID  =  T3.template_ID

10/100
Text: What are the last name of the students who live in North Carolina but have not registered in any degree programs?
Pred SQL: SELECT T1.name_id, T2.name_id,
True SQL: SELECT T1.last_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.current_address_id  =  T2.address_id WHERE T2.state_province_county  =  'NorthCarolina' EXCEPT SELECT DISTINCT T3.last_name FROM Students AS T3 JOIN Student_Enrolment AS T4 ON T3.student_id  =  T4.student_id

11/100
Text: What is the weekly rank for the episode "A Love of a Lifetime"?
Pred SQL: SELECT T1.weekly_Rank FROM TV_Shows AS T1
True SQL: SELECT Weekly_Rank FROM TV_series WHERE Episode = "A Love of a Lifetime";

12/100
Text: What are the names of the high schoolers and how many friends does each have?
Pred SQL: SELECT T1.name, T2.name, T2.grade, T
True SQL: SELECT T2.name ,  count(*) FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id

13/100
Text: What is all the information about hiring?
Pred SQL: SELECT T1.employee_id FROM employee_id
True SQL: SELECT * FROM hiring

14/100
Text: Return the money rank of the poker player with the greatest height.
Pred SQL: SELECT T1.money_grade FROM Poker_players AS T1 JOIN
True SQL: SELECT T2.Money_Rank FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T1.Height DESC LIMIT 1

15/100
Text: What is the name of the visitor who visited both a museum opened before 2009 and a museum opened after 2011?
Pred SQL: SELECT T1.name FROM museum AS T1 JOIN staff AS T2 ON
True SQL: SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id JOIN museum AS t3 ON t3.Museum_ID  =  t2.Museum_ID WHERE t3.open_year  <  2009 INTERSECT SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id JOIN museum AS t3 ON t3.Museum_ID  =  t2.Museum_ID WHERE t3.open_year  >  2011

16/100
Text: What is the age of the oldest dog?
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT max(age) FROM Dogs

17/100
Text: What is the airport code of the airport with the most flights?
Pred SQL: SELECT T1.Aircraft_Code FROM airport AS T1 JOIN flight AS
True SQL: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1

18/100
Text: How many car makers are there in each continents? List the continent name and the count.
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

19/100
Text: List the final tables made and the best finishes of poker players.
Pred SQL: SELECT T1.player_id, T2.player_id,
True SQL: SELECT Final_Table_Made ,  Best_Finish FROM poker_player

20/100
Text: Find the first name, country code and birth date of the winner who has the highest rank points in all matches.
Pred SQL: SELECT T1.first_name, T1.country_code, T2.
True SQL: SELECT T1.first_name ,  T1.country_code ,  T1.birth_date FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id ORDER BY T2.winner_rank_points DESC LIMIT 1

21/100
Text: Of all the contestants who got voted, what is the contestant number and name of the contestant who got least votes?
Pred SQL: SELECT DISTINCT DISTINCT DISTINCT DISTINCT
True SQL: SELECT T1.contestant_number , T1.contestant_name FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number GROUP BY T1.contestant_number ORDER BY count(*) ASC LIMIT 1

22/100
Text: find the number of distinct country codes of all players.
Pred SQL: SELECT T1.player_id FROM player_id WHERE T1.
True SQL: SELECT count(DISTINCT country_code) FROM players

23/100
Text: What are the locations and names of all stations with capacity between 5000 and 10000?
Pred SQL: SELECT T1.site_id, T2.site_id,
True SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000

24/100
Text: What are the orchestras that do not have any performances?
Pred SQL: SELECT T1.orchester_id FROM apr_id W
True SQL: SELECT Orchestra FROM orchestra WHERE Orchestra_ID NOT IN (SELECT Orchestra_ID FROM performance)

25/100
Text: Show names of teachers and the courses they are arranged to teach in ascending alphabetical order of the teacher's name.
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID ORDER BY T3.Name

26/100
Text: What are the names and release years for all the songs of the youngest singer?
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

27/100
Text: What is the series name and country of all TV channels that are playing cartoons directed by Ben Jones and cartoons directed by Michael Chang?
Pred SQL: SELECT T1.name, T2.country, T2.language, T
True SQL: SELECT T1.series_name ,  T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by  =  'Michael Chang' INTERSECT SELECT T1.series_name ,  T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by  =  'Ben Jones'

28/100
Text: What are the names of conductors who have conducted orchestras founded after the year 2008?
Pred SQL: SELECT T1.name FROM Orchestra AS T1 JOIN Orchestra AS T2 ON
True SQL: SELECT T1.Name FROM conductor AS T1 JOIN orchestra AS T2 ON T1.Conductor_ID  =  T2.Conductor_ID WHERE Year_of_Founded  >  2008

29/100
Text: What is the maker of the carr produced in the earliest year and what year was it?
Pred SQL: SELECT T1.name FROM car_making AS T1 JOIN car_making
True SQL: SELECT T2.Make ,  T1.Year FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);

30/100
Text: Find the last name of the student who has a cat that is age 3.
Pred SQL: SELECT T2.last_name FROM student AS T1 JOIN student AS T
True SQL: SELECT T1.lname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pet_age  =  3 AND T3.pettype  =  'cat'

31/100
Text: How many templates have template type code CV?
Pred SQL: SELECT template_type_code FROM Template_Type_Type_Type_Type_
True SQL: SELECT count(*) FROM Templates WHERE template_type_code  =  "CV"

32/100
Text: Show different citizenships and the maximum net worth of singers of each citizenship.
Pred SQL: SELECT T1.Song_ID, T1.Song_ID,
True SQL: SELECT Citizenship ,  max(Net_Worth_Millions) FROM singer GROUP BY Citizenship

33/100
Text: Count the number of United Airlines flights that arrive in Aberdeen.
Pred SQL: SELECT T1.Airline_ID FROM airports AS T1 JOIN flight
True SQL: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

34/100
Text: How many transcripts are listed?
Pred SQL: SELECT T1.t2.t2.t2.t2.t2.t2.t2.
True SQL: SELECT count(*) FROM Transcripts

35/100
Text: Show the names of all high schoolers in grade 10.
Pred SQL: SELECT T2.name FROM High_Schools AS T1 JOIN Student_
True SQL: SELECT name FROM Highschooler WHERE grade  =  10

36/100
Text: What is the date and id of the transcript with at least 2 courses listed?
Pred SQL: SELECT T1.dept_id FROM student_enrolment_id
True SQL: SELECT T2.transcript_date ,  T1.transcript_id FROM Transcript_Contents AS T1 JOIN Transcripts AS T2 ON T1.transcript_id  =  T2.transcript_id GROUP BY T1.transcript_id HAVING count(*)  >=  2

37/100
Text: Return the name, location and district of all shops in descending order of number of products.
Pred SQL: SELECT T1.shop_id, T2.shop_id,
True SQL: SELECT name ,  LOCATION ,  district FROM shop ORDER BY number_products DESC

38/100
Text: What is the number of carsw ith over 6 cylinders?
Pred SQL: SELECT T1.name FROM cars AS T1 JOIN country AS T2 ON
True SQL: SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders  >  6;

39/100
Text: Show names of people whose nationality is not "Russia".
Pred SQL: SELECT T1.name FROM Person WHERE T1.name = "Russ
True SQL: SELECT Name FROM people WHERE Nationality != "Russia"

40/100
Text: What are the names of tournaments that have more than 10 matches?
Pred SQL: SELECT T1.player_id FROM tournament_id WHERE T1.
True SQL: SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

41/100
Text: Give the flight numbers of flights leaving from Aberdeen.
Pred SQL: SELECT flight_id FROM flight AS T1 JOIN airport AS T2
True SQL: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

42/100
Text: Return the names of poker players sorted by their earnings descending.
Pred SQL: SELECT T1.name FROM Poker_players AS T1 JOIN players AS
True SQL: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings DESC

43/100
Text: List the dog name, age and weight of the dogs who have been abandoned? 1 stands for yes, and 0 stands for no.
Pred SQL: SELECT T1.name, T2.age, T2.weight, T
True SQL: SELECT name ,  age ,  weight FROM Dogs WHERE abandoned_yn  =  1

44/100
Text: What is the total count of teachers?
Pred SQL: SELECT T2.course_id FROM teacher AS T1 JOIN teacher AS
True SQL: SELECT count(*) FROM teacher

45/100
Text: Tell me the owner id and last name of the owner who spent the most on treatments of his or her dogs.
Pred SQL: SELECT owner_id, owner_id, owner_id
True SQL: SELECT T1.owner_id ,  T1.last_name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY count(*) DESC LIMIT 1

46/100
Text: What are the Package Options of the TV Channels whose series names are Sky Radio?
Pred SQL: SELECT DISTINCT T1.channel_id FROM TV_channels AS
True SQL: SELECT Package_Option FROM TV_Channel WHERE series_name = "Sky Radio";

47/100
Text: What is the total number of people living in the nations that do not use English?
Pred SQL: SELECT T2.city_id FROM people AS T1 JOIN countries AS
True SQL: SELECT sum(Population) FROM country WHERE Name NOT IN (SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English")

48/100
Text: Which owner has paid the largest amount of money in total for their dogs? Show the owner id and zip code.
Pred SQL: SELECT T1.owner_id, T1.owner_id,
True SQL: SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1

49/100
Text: What are airlines that have flights arriving at airport 'AHD'?
Pred SQL: SELECT T1.Airline_ID FROM airports AS T1 JOIN flight
True SQL: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"

50/100
Text: Which models are lighter than 3500 but not built by the 'Ford Motor Company'?
Pred SQL: SELECT T1.model_name FROM cars AS T1 JOIN country AS T
True SQL: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.Model  =  T2.Model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.Id JOIN CAR_MAKERS AS T4 ON T1.Maker  =  T4.Id WHERE T3.weight  <  3500 AND T4.FullName != 'Ford Motor Company';

51/100
Text: What are the names of players who won in both 2013 and 2016?
Pred SQL: SELECT T1.player_id FROM player_id WHERE T1.
True SQL: SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

52/100
Text: Which African countries have a smaller population than that of any country in Asia?
Pred SQL: SELECT T2.state_id FROM afghan_state_state_
True SQL: SELECT Name FROM country WHERE Continent  =  "Africa"  AND population  <  (SELECT min(population) FROM country WHERE Continent  =  "Asia")

53/100
Text: List the names and birth dates of people in ascending alphabetical order of name.
Pred SQL: SELECT T1.name, T2.birth_date FROM person AS T1
True SQL: SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC

54/100
Text: Count the number of documents that use the PPT template type.
Pred SQL: SELECT T1.document_type_code FROM Template_Types AS T1
True SQL: SELECT count(*) FROM Documents AS T1 JOIN Templates AS T2 ON T1.Template_ID  =  T2.Template_ID WHERE T2.Template_Type_Code  =  'PPT'

55/100
Text: What is the name of each teacher and what course they teach?
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID

56/100
Text: How many TV Channels use the English language?
Pred SQL: SELECT T1.channel_id FROM TV_channels AS T1 JO
True SQL: SELECT count(*) FROM TV_Channel WHERE LANGUAGE = "English";

57/100
Text: What are flight numbers of flights departing from City "Aberdeen "?
Pred SQL: SELECT flight_id FROM airports AS t1 JOIN flight AS
True SQL: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

58/100
Text: What are the ids of all tv channels that have more than 2 TV channels?
Pred SQL: SELECT T1.id FROM T1.channel_id WHERE T1.
True SQL: SELECT id FROM tv_channel GROUP BY country HAVING count(*)  >  2

59/100
Text: What are the names of conductors who have conducted at more than one orchestra?
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT T1.Name FROM conductor AS T1 JOIN orchestra AS T2 ON T1.Conductor_ID  =  T2.Conductor_ID GROUP BY T2.Conductor_ID HAVING COUNT(*)  >  1

60/100
Text: How many car makers are there in france?
Pred SQL: SELECT T1.name FROM car_making AS T1 JOIN country AS T
True SQL: SELECT count(*) FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId WHERE T2.CountryName  =  'france';

61/100
Text: What are the details for the paragraph that includes the text 'Korea ' ?
Pred SQL: SELECT T1.Type_Code FROM Template_Type_Type_Type_Type_
True SQL: select other_details from paragraphs where paragraph_text like 'korea'

62/100
Text: Which distinct car models are the produced after 1980?
Pred SQL: SELECT T1.car_name FROM avg(T1.car_name
True SQL: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

63/100
Text: What are the different models for the cards produced after 1980?
Pred SQL: SELECT DISTINCT T1.model_name FROM card_cards AS T
True SQL: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

64/100
Text: Show the names of high schoolers who have likes, and numbers of likes for each.
Pred SQL: SELECT T1.name, T2.name, T2.grade, T
True SQL: SELECT T2.name ,  count(*) FROM Likes AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id

65/100
Text: Find the id of students who do not have a cat pet.
Pred SQL: SELECT T1.student_id FROM student_id WHERE T
True SQL: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

66/100
Text: What is the hometown of the youngest teacher?
Pred SQL: SELECT T1.course_id FROM teacher AS T1 JOIN teacher AS
True SQL: SELECT Hometown FROM teacher ORDER BY Age ASC LIMIT 1

67/100
Text: Find the name, population and expected life length of asian country with the largest area?
Pred SQL: SELECT T1.name, T2.population, T2.population
True SQL: SELECT Name ,  Population ,  LifeExpectancy FROM country WHERE Continent  =  "Asia" ORDER BY SurfaceArea DESC LIMIT 1

68/100
Text: How many type of governments are in Africa?
Pred SQL: SELECT T2.name, T2.name, T2.name, T
True SQL: SELECT count(DISTINCT GovernmentForm) FROM country WHERE Continent  =  "Africa"

69/100
Text: What are the titles of all cartoons directed by Ben Jones or Brandon Vietti?
Pred SQL: SELECT T1.title FROM cartoon AS T1 JOIN tv AS T
True SQL: SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones" OR Directed_by = "Brandon Vietti";

70/100
Text: What is the number of distinct languages used around the world?
Pred SQL: SELECT T2.city_id FROM avg(T2.state_
True SQL: SELECT count(DISTINCT LANGUAGE) FROM countrylanguage

71/100
Text: List the names of the dogs of the rarest breed and the treatment dates of them.
Pred SQL: SELECT T1.name, T2.name, T2.name, T
True SQL: SELECT T1.name ,  T2.date_of_treatment FROM Dogs AS T1 JOIN Treatments AS T2 ON T1.dog_id  =  T2.dog_id WHERE T1.breed_code  =  ( SELECT breed_code FROM Dogs GROUP BY breed_code ORDER BY count(*) ASC LIMIT 1 )

72/100
Text: Which professionals have done at least two types of treatments? List the professional id and cell phone.

In [2]:
!git clone https://github.com/taoyds/test-suite-sql-eval.git

Cloning into 'test-suite-sql-eval'...
remote: Enumerating objects: 61, done.
remote: Counting objects: 100% (22/22), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 61 (delta 14), reused 11 (delta 10), pack-reused 39
Unpacking objects: 100% (61/61), 619.43 KiB | 1.26 MiB/s, done.

In [1]:
!pip3 install sqlparse
!pip3 install nltk
import nltk
nltk.download('punkt')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (0.4.4)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2022.10.31)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [12]:
!python test-suite-sql-eval/evaluation.py --gold gold.txt --pred pred.txt --db /content/drive/MyDrive/spider/database --table /content/drive/MyDrive/spider/tables.json --etype all

easy pred: Gib die Ländercodes für Länder, in denen die Menschen Sprachen sprechen, die nicht
easy gold: SELECT DISTINCT CountryCode FROM countrylanguage WHERE LANGUAGE != "English"

medium pred: <unk>schema> Table: singer Columns: *, singer id,
medium gold: SELECT Birth_Year ,  Citizenship FROM singer

medium pred: <unk>schema> Table: city Columns: *, id, name
medium gold: SELECT Name ,  population ,  HeadOfState FROM country ORDER BY SurfaceArea DESC LIMIT 1

hard pred: Liste der Namen aller Gewinner, die sowohl 2013 als auch 2016 gespielt haben.
hard gold: SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

hard pred: <unk>schema> Table: course Columns: *, course id,
hard gold: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID ORDER BY T3.Name

easy pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
easy gold: SELECT avg(transcript_date) FROM Transcripts

medium pred: <unk>schema> Table: cartoon Columns: *, id, series
medium gold: SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones" OR Directed_by = "Brandon Vietti";

extra pred: <unk>schema> Table: continents Columns: *, cont id
extra gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.Model  =  T2.Model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.Id JOIN CAR_MAKERS AS T4 ON T1.Maker  =  T4.Id WHERE T3.weight  <  3500 AND T4.FullName != 'Ford Motor Company';

medium pred: <unk>schema> Table: battle Columns: *, id, name
medium gold: SELECT name ,  date FROM battle

medium pred: <unk>schema> Table: singer Columns: *, singer id,
medium gold: SELECT DISTINCT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T2.Sales  >  300000

extra pred: <unk>schema> Table: area code state Spalten: *, area code
extra gold: SELECT count(*) FROM contestants WHERE contestant_number NOT IN ( SELECT contestant_number FROM votes )

extra pred: <unk>schema> Table: airlines Columns: *, airline id,
extra gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline GROUP BY T1.Airline ORDER BY count(*) DESC LIMIT 1

medium pred: <unk>schema> Table: conductor Columns: *, conductor i
medium gold: SELECT T1.Name ,  T2.Orchestra FROM conductor AS T1 JOIN orchestra AS T2 ON T1.Conductor_ID  =  T2.Conductor_ID

easy pred: <unk>schema> Table: city Columns: *, id, name
easy gold: SELECT sum(Population) FROM city WHERE District  =  "Gelderland"

easy pred: <unk>schema> Table: poker player Columns: *, poker player i
easy gold: SELECT Name FROM people WHERE Nationality != "Russia"

easy pred: <unk>schema> Table: high schooler Columns: *, id
easy gold: SELECT ID FROM Highschooler WHERE name  =  "Kyle"

easy pred: <unk>schema> Table: conductor Columns: *, conductor i
easy gold: SELECT Record_Company FROM orchestra ORDER BY Year_of_Founded DESC

medium pred: <unk>schema> Table: reference template types Spalte: *, template type
medium gold: SELECT template_type_code ,  count(*) FROM Templates GROUP BY template_type_code

hard pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
hard gold: SELECT semester_name FROM Semesters WHERE semester_id NOT IN( SELECT semester_id FROM Student_Enrolment )

easy pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
easy gold: SELECT section_description FROM Sections WHERE section_name  =  'h'

easy pred: <unk>schema> Table: employee Columns: *, employee id,
easy gold: SELECT count(*) FROM employee

medium pred: <unk>schema> Table: high schooler Columns: *, id
medium gold: SELECT count(*) FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id WHERE T2.name  =  "Kyle"

hard pred: Return the codes of countries that do not speak English and do not have Republics for governments.
hard gold: SELECT Code FROM country WHERE GovernmentForm != "Republic" EXCEPT SELECT CountryCode FROM countrylanguage WHERE LANGUAGE  =  "English"

medium pred: <unk>schema> Table: singer Columns: *, singer id,
medium gold: SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship

medium pred: SQL Show me the cost of the most recently performed treatment. <unk>schema> Table
medium gold: SELECT cost_of_treatment FROM Treatments ORDER BY date_of_treatment DESC LIMIT 1

medium pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
medium gold: SELECT transcript_date ,  other_details FROM Transcripts ORDER BY transcript_date ASC LIMIT 1

medium pred: Finden Sie die Namen der Besucher, deren Mitgliedsstand höher als 4 ist und
medium gold: SELECT name FROM visitor WHERE Level_of_membership  >  4 ORDER BY Level_of_membership DESC

extra pred: <unk>schema> Table: airlines Columns: *, airline id,
extra gold: SELECT T1.City FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport GROUP BY T1.City ORDER BY count(*) DESC LIMIT 1

easy pred: <unk>schema> Table: high schooler Columns: *, id
easy gold: SELECT grade FROM Highschooler WHERE name  =  "Kyle"

medium pred: SQL Server 2008 SQL Server 2008 SQL Server 2008 SQL Server 2008 SQL Server 2008 SQL Server 2008 SQL
medium gold: SELECT student_id ,  count(*) FROM Friend GROUP BY student_id

medium pred: <unk>schema> Table: area code state Spalten: *, area code
medium gold: SELECT T2.created ,  T2.state ,  T2.phone_number FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number WHERE T1.contestant_name  =  'Tabatha Gehling'

medium pred: <unk>schema> Table: poker player Columns: *, poker player i
medium gold: SELECT Final_Table_Made ,  Best_Finish FROM poker_player

medium pred: <unk>schema> Table: airlines Columns: *, airline id,
medium gold: SELECT count(*) FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T2.Airline  =  T1.uid WHERE T1.Airline  =  "United Airlines" AND T2.SourceAirport  =  "AHD"

medium pred: Finde die Anzahl der Orchester, deren Format "CD" oder "DVD"
medium gold: SELECT COUNT(*) FROM orchestra WHERE Major_Record_Format  =  "CD" OR Major_Record_Format  =  "DVD"

easy pred: <unk>schema> Table: country Columns: *, id, name
easy gold: SELECT avg(LifeExpectancy) FROM country WHERE Region  =  "Central Africa"

extra pred: Welches sind die Länder-Code und der Vorname der Spieler, die in den WTA
extra gold: SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'WTA Championships' INTERSECT SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id WHERE T2.tourney_name  =  'Australian Open'

medium pred: Wie viele verschiedene Sieger nahmen an den WTA-Meisterschaften teil
medium gold: SELECT count(DISTINCT winner_name) FROM matches WHERE tourney_name  =  'WTA Championships' AND winner_hand  =  'L'

easy pred: SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL SQL
easy gold: SELECT count(DISTINCT Nationality) FROM people

hard pred: <unk>schema> Table: airlines Columns: *, airline id,
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

easy pred: <unk>schema> Table: continents Columns: *, cont id
easy gold: SELECT count(*) FROM COUNTRIES;

extra pred: SQL geben Sie mir die Beschreibung des Behandlungstyps, dessen Gesamtkosten am niedrigsten
extra gold: SELECT T1.treatment_type_description FROM Treatment_types AS T1 JOIN Treatments AS T2 ON T1.treatment_type_code  =  T2.treatment_type_code GROUP BY T1.treatment_type_code ORDER BY sum(cost_of_treatment) ASC LIMIT 1

hard pred: <unk>schema> Table: poker player Columns: *, poker player i
hard gold: SELECT Name FROM people WHERE People_ID NOT IN (SELECT People_ID FROM poker_player)

medium pred: <unk>schema> Table: conductor Columns: *, conductor i
medium gold: SELECT Major_Record_Format FROM orchestra GROUP BY Major_Record_Format ORDER BY COUNT(*) ASC

medium pred: <unk>schema> Table: stadium Columns: *, stadium id,
medium gold: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1

medium pred: <unk>schema> Table: reference template types Spalte: *, template type
medium gold: SELECT T1.template_type_code ,  count(*) FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id GROUP BY T1.template_type_code

easy pred: Find the average rank of winners in all matches. <unk>schema> Table: players
easy gold: SELECT avg(winner_rank) FROM matches

easy pred: <unk>schema> Table: country Columns: *, id, name
easy gold: SELECT sum(SurfaceArea) FROM country WHERE Region  =  "Caribbean"

hard pred: <unk>schema> Table: continents Columns: *, cont id
hard gold: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

medium pred: <unk>schema> Table: country Columns: *, id, name
medium gold: SELECT T2.Language FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T1.HeadOfState  =  "Beatrix" AND T2.IsOfficial  =  "T"

medium pred: Return the country name and the numbers of languages spoken for each country that speaks at least 3 languages
medium gold: SELECT COUNT(T2.Language) ,  T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode GROUP BY T1.Name HAVING COUNT(*)  >  2

easy pred: <unk>schema> Table: conductor Columns: *, conductor i
easy gold: SELECT Name FROM conductor WHERE Nationality != 'USA'

medium pred: <unk>schema> Table: battle Columns: *, id, name
medium gold: SELECT name ,  tonnage FROM ship ORDER BY name DESC

hard pred: <unk>schema> Table: continents Columns: *, cont id
hard gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

easy pred: <unk>schema> Table: poker player Columns: *, poker player i
easy gold: SELECT Nationality FROM people GROUP BY Nationality HAVING COUNT(*)  >=  2

extra pred: Wie viele Fachleute haben keine Behandlungen an Hunden durchgeführt? <unk>schema
extra gold: SELECT count(*) FROM Professionals WHERE professional_id NOT IN ( SELECT professional_id FROM Treatments )

extra pred: Finden Sie die Marke und die Produktionszeit der Autos, die im ersten
extra gold: SELECT T2.Make ,  T1.Year FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);

medium pred: <unk>schema> Table: city Columns: *, id, name
medium gold: SELECT COUNT(*) FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T1.Name  =  "Afghanistan" AND IsOfficial  =  "T"

easy pred: <unk>schema> Table: airlines Columns: *, airline id,
easy gold: SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"

medium pred: <unk>schema> Table: conductor Columns: *, conductor i
medium gold: SELECT Name FROM conductor ORDER BY Year_of_Work DESC LIMIT 1

medium pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
medium gold: SELECT T1.course_name ,  T1.course_id FROM Courses AS T1 JOIN Sections AS T2 ON T1.course_id  =  T2.course_id GROUP BY T1.course_id HAVING count(*)  <=  2

medium pred: <unk>schema> Table: reference template types Spalte: *, template type
medium gold: SELECT T1.template_type_code FROM Templates AS T1 JOIN Documents AS T2 ON T1.template_id  =  T2.template_id WHERE T2.document_name  =  "Data base"

easy pred: <unk>schema> Table: conductor Columns: *, conductor i
easy gold: SELECT Name FROM conductor ORDER BY Year_of_Work DESC

easy pred: SQL Server 2008 R2 | MySQL | MySQL | MySQL | MySQL | MySQL | MySQL | MySQL
easy gold: SELECT count(DISTINCT degree_summary_name) FROM Degree_Programs

easy pred: SQL: How many different departments offer degrees? <unk>schema> Table: addresses Column
easy gold: SELECT count(DISTINCT department_id) FROM Degree_Programs

easy pred: SQL Server 2008 R2 - How is the math course described? <unk>schema
easy gold: SELECT course_description FROM Courses WHERE course_name  =  'math'

easy pred: SQL-Tabelle: Mitarbeiter Spalten: *, Mitarbeiter-ID, Name,
easy gold: SELECT name FROM employee ORDER BY age

easy pred: SQL Count the number of poker players. <unk>schema> Table: poker player
easy gold: SELECT count(*) FROM poker_player

extra pred: <unk>schema> Tableau: adressen Spalten: *,
extra gold: SELECT T1.semester_name ,  T1.semester_id FROM Semesters AS T1 JOIN Student_Enrolment AS T2 ON T1.semester_id  =  T2.semester_id GROUP BY T1.semester_id ORDER BY count(*) DESC LIMIT 1

hard pred: Welche Identifikationen sind in Dokumenten enthalten, die den Absatztext '
hard gold: SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Brazil' INTERSECT SELECT document_id FROM Paragraphs WHERE paragraph_text  =  'Ireland'

medium pred: <unk>schema> Table: continents Columns: *, cont id
medium gold: SELECT Maker ,  Model FROM MODEL_LIST;

extra pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
extra gold: SELECT  T1.course_name FROM Courses AS T1 JOIN Student_Enrolment_Courses AS T2 ON T1.course_id  =  T2.course_id GROUP BY T1.course_name ORDER BY count(*) DESC LIMIT 1

extra pred: <unk>schema> Table: city Columns: *, id, name
extra gold: SELECT DISTINCT T2.Name FROM country AS T1 JOIN city AS T2 ON T2.CountryCode  =  T1.Code WHERE T1.Continent  =  'Europe' AND T1.Name NOT IN (SELECT T3.Name FROM country AS T3 JOIN countrylanguage AS T4 ON T3.Code  =  T4.CountryCode WHERE T4.IsOfficial  =  'T' AND T4.Language  =  'English')

medium pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
medium gold: select cell_mobile_number from students where first_name  =  'timmothy' and last_name  =  'ward'

medium pred: <unk>schema> Table: stadium Columns: *, stadium id,
medium gold: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id

medium pred: <unk>schema> Table: high schooler Columns: *, id
medium gold: SELECT T2.name FROM Likes AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id HAVING count(*)  >=  2

medium pred: <unk>schema> Table: city Columns: *, id, name
medium gold: SELECT sum(Population) ,  max(GNP) FROM country WHERE Continent  =  "Asia"

medium pred: Wie viele Touren gab es für jedes Rangdatum? <unk>s
medium gold: SELECT sum(tours) ,  ranking_date FROM rankings GROUP BY ranking_date

hard pred: <unk>schema> Table: country Columns: *, id, name
hard gold: SELECT Name FROM country WHERE SurfaceArea  >  (SELECT min(SurfaceArea) FROM country WHERE Continent  =  "Europe")

medium pred: <unk>schema> Table: stadium Columns: *, stadium id,
medium gold: SELECT name ,  country ,  age FROM singer ORDER BY age DESC

medium pred: SQL Find the role, street, city and state of the professionals living in a city that
medium gold: SELECT role_code ,  street ,  city ,  state FROM professionals WHERE city LIKE '%West%'

medium pred: <unk>schema> Table: breeds Columns: *, breed code, breed
medium gold: SELECT T1.professional_id ,  T1.cell_number FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >=  2

medium pred: SQL Server 2008 R2 - SQL Server 2008 R2 - SQL Server 2008 R2
medium gold: SELECT first_name ,  last_name ,  email_address FROM Owners WHERE state LIKE '%North%'

easy pred: SQL Count the number of templates of the type CV. <unk>schema> Table
easy gold: SELECT count(*) FROM Templates WHERE template_type_code  =  "CV"

extra pred: <unk>schema> Tabelle: Rasse Spalten: *, Rasse
extra gold: SELECT T1.breed_name FROM Breeds AS T1 JOIN Dogs AS T2 ON T1.breed_code  =  T2.breed_code GROUP BY T1.breed_name ORDER BY count(*) DESC LIMIT 1

easy pred: <unk>schema> Table: employee Columns: *, employee id,
easy gold: SELECT count(DISTINCT LOCATION) FROM shop

hard pred: <unk>schema> Table: course Columns: *, course id,
hard gold: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID ORDER BY T3.Name

hard pred: <unk>schema> Table: breeds Columns: *, breed code, breed
hard gold: SELECT first_name FROM Professionals UNION SELECT first_name FROM Owners EXCEPT SELECT name FROM Dogs

medium pred: Geben Sie die Flugnummern der Flüge, die in Aberdeen ankommen. <unk>
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

easy pred: Welche Namen sind die Kandidaten, deren Namen nicht 'Jessie Allowa
easy gold: SELECT contestant_name FROM contestants WHERE contestant_name != 'Jessie Alloway'

medium pred: <unk>schema> Table: poker player Columns: *, poker player i
medium gold: SELECT avg(T2.Earnings) FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID WHERE T1.Height  >  200

extra pred: <unk>schema> Table: country Columns: *, id, name
extra gold: select t1.name from country as t1 join countrylanguage as t2 on t1.code  =  t2.countrycode where t2.language  =  "english" and isofficial  =  "t" union select t1.name from country as t1 join countrylanguage as t2 on t1.code  =  t2.countrycode where t2.language  =  "dutch" and isofficial  =  "t"

extra pred: <unk>schema> Table: museum Columns: *, museum id,
extra gold: SELECT t2.visitor_id ,  t1.name ,  t1.Level_of_membership FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id GROUP BY t2.visitor_id ORDER BY sum(t2.Total_spent) DESC LIMIT 1

medium pred: <unk>schema> Table: battle Columns: *, id, name
medium gold: SELECT DISTINCT T1.id ,  T1.name FROM battle AS T1 JOIN ship AS T2 ON T1.id  =  T2.lost_in_battle WHERE T2.ship_type  =  'Brig'

medium pred: <unk>schema> Table: continents Columns: *, cont id
medium gold: SELECT T1.ContId ,  T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;

easy pred: SQL Describe the section h. <unk>schema> Table: addresses Columns
easy gold: SELECT section_description FROM Sections WHERE section_name  =  'h'

medium pred: <unk>schema> Table: course Columns: *, course id,
medium gold: SELECT Name FROM teacher WHERE Age  =  32 OR Age  =  33

medium pred: <unk>schema> Table: tv channel Columns: *, i
medium gold: SELECT T1.series_name FROM TV_Channel AS T1 JOIN Cartoon AS T2 ON T1.id = T2.Channel WHERE T2.Title = "The Rise of the Blue Beetle!";

easy pred: <unk>schema> Table: players Columns: *, player id,
easy gold: SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

medium pred: <unk>schema> Table: players Columns: *, player id,
medium gold: SELECT sum(ranking_points) ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id GROUP BY T1.first_name

medium pred: <unk>schema> Table: employee Columns: *, employee id,
medium gold: SELECT count(*) ,  t2.name FROM hiring AS t1 JOIN shop AS t2 ON t1.shop_id  =  t2.shop_id GROUP BY t2.name

                     easy                 medium               hard                 extra                all
count                28                   46                   12                   14                   100
=====================   EXECUTION ACCURACY     =====================
execution            0.000                0.000                0.000                0.000                0.000

====================== EXACT MATCHING ACCURACY =====================
exact match          0.000                0.000                0.000                0.000                0.000

---------------------PARTIAL MATCHING ACCURACY----------------------

In [17]:
!python test-suite-sql-eval/evaluation.py --gold gold.txt --pred pred.txt --db /content/drive/MyDrive/spider/database --table /content/drive/MyDrive/spider/tables.json --etype all

easy pred: SELECT DISTINCT YEAR FROM automobiles AS t1 JOIN country
easy gold: select distinct year from cars_data where weight between 3000 and 4000;

medium pred: SELECT T1.name FROM Poker_players AS T1 JOIN players AS
medium gold: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Final_Table_Made

extra pred: SELECT T1.id, T2.last_name, T2.last
extra gold: SELECT professional_id ,  last_name ,  cell_number FROM Professionals WHERE state  =  'Indiana' UNION SELECT T1.professional_id ,  T1.last_name ,  T1.cell_number FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >  2

medium pred: SELECT T1.player_id, T1.player_id,
medium gold: SELECT first_name ,  last_name FROM players ORDER BY birth_date

medium pred: SELECT T1.Airline_ID FROM Flights AS T1 JOIN Flight
medium gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T1.Airline  =  T2.uid WHERE T2.Airline = "JetBlue Airways"

extra pred: SELECT T1.country_id FROM car_making_id WHERE
extra gold: SELECT T2.CountryName FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId GROUP BY T1.Country ORDER BY Count(*) DESC LIMIT 1;

extra pred: SELECT CLASS FROM Student WHERE CLASS = *, CLASS =
extra gold: SELECT min(grade) FROM Highschooler WHERE id NOT IN (SELECT T1.student_id FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id)

medium pred: SELECT count(*) FROM student WHERE class = "Kad"
medium gold: SELECT count(*) FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id WHERE T2.name  =  "Kyle"

medium pred: SELECT T1.type_code FROM Template_Types AS T1 JOIN
medium gold: SELECT DISTINCT T1.template_type_description FROM Ref_template_types AS T1 JOIN Templates AS T2 ON T1.template_type_code  = T2.template_type_code JOIN Documents AS T3 ON T2.Template_ID  =  T3.template_ID

extra pred: SELECT T1.name_id, T2.name_id,
extra gold: SELECT T1.last_name FROM Students AS T1 JOIN Addresses AS T2 ON T1.current_address_id  =  T2.address_id WHERE T2.state_province_county  =  'NorthCarolina' EXCEPT SELECT DISTINCT T3.last_name FROM Students AS T3 JOIN Student_Enrolment AS T4 ON T3.student_id  =  T4.student_id

easy pred: SELECT T1.weekly_Rank FROM TV_Shows AS T1
easy gold: SELECT Weekly_Rank FROM TV_series WHERE Episode = "A Love of a Lifetime";

medium pred: SELECT T1.name, T2.name, T2.grade, T
medium gold: SELECT T2.name ,  count(*) FROM Friend AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id

easy pred: SELECT T1.employee_id FROM employee_id
easy gold: SELECT * FROM hiring

hard pred: SELECT T1.money_grade FROM Poker_players AS T1 JOIN
hard gold: SELECT T2.Money_Rank FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T1.Height DESC LIMIT 1

extra pred: SELECT T1.name FROM museum AS T1 JOIN staff AS T2 ON
extra gold: SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id JOIN museum AS t3 ON t3.Museum_ID  =  t2.Museum_ID WHERE t3.open_year  <  2009 INTERSECT SELECT t1.name FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id JOIN museum AS t3 ON t3.Museum_ID  =  t2.Museum_ID WHERE t3.open_year  >  2011

easy pred: SELECT T1.name, T2.name, T2.name, T
easy gold: SELECT max(age) FROM Dogs

extra pred: SELECT T1.Aircraft_Code FROM airport AS T1 JOIN flight AS
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) DESC LIMIT 1

hard pred: SELECT T1.name, T2.name, T2.name, T
hard gold: SELECT T1.Continent ,  count(*) FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;

medium pred: SELECT T1.player_id, T2.player_id,
medium gold: SELECT Final_Table_Made ,  Best_Finish FROM poker_player

hard pred: SELECT T1.first_name, T1.country_code, T2.
hard gold: SELECT T1.first_name ,  T1.country_code ,  T1.birth_date FROM players AS T1 JOIN matches AS T2 ON T1.player_id  =  T2.winner_id ORDER BY T2.winner_rank_points DESC LIMIT 1

extra pred: SELECT DISTINCT DISTINCT DISTINCT DISTINCT
extra gold: SELECT T1.contestant_number , T1.contestant_name FROM contestants AS T1 JOIN votes AS T2 ON T1.contestant_number  =  T2.contestant_number GROUP BY T1.contestant_number ORDER BY count(*) ASC LIMIT 1

easy pred: SELECT T1.player_id FROM player_id WHERE T1.
easy gold: SELECT count(DISTINCT country_code) FROM players

medium pred: SELECT T1.site_id, T2.site_id,
medium gold: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000

hard pred: SELECT T1.orchester_id FROM apr_id W
hard gold: SELECT Orchestra FROM orchestra WHERE Orchestra_ID NOT IN (SELECT Orchestra_ID FROM performance)

hard pred: SELECT T1.name, T2.name, T2.name, T
hard gold: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID ORDER BY T3.Name

medium pred: SELECT T1.name, T2.name, T2.name, T
medium gold: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

extra pred: SELECT T1.name, T2.country, T2.language, T
extra gold: SELECT T1.series_name ,  T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by  =  'Michael Chang' INTERSECT SELECT T1.series_name ,  T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.directed_by  =  'Ben Jones'

medium pred: SELECT T1.name FROM Orchestra AS T1 JOIN Orchestra AS T2 ON
medium gold: SELECT T1.Name FROM conductor AS T1 JOIN orchestra AS T2 ON T1.Conductor_ID  =  T2.Conductor_ID WHERE Year_of_Founded  >  2008

extra pred: SELECT T1.name FROM car_making AS T1 JOIN car_making
extra gold: SELECT T2.Make ,  T1.Year FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);

hard pred: SELECT T2.last_name FROM student AS T1 JOIN student AS T
hard gold: SELECT T1.lname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pet_age  =  3 AND T3.pettype  =  'cat'

easy pred: SELECT template_type_code FROM Template_Type_Type_Type_Type_
easy gold: SELECT count(*) FROM Templates WHERE template_type_code  =  "CV"

medium pred: SELECT T1.Song_ID, T1.Song_ID,
medium gold: SELECT Citizenship ,  max(Net_Worth_Millions) FROM singer GROUP BY Citizenship

hard pred: SELECT T1.Airline_ID FROM airports AS T1 JOIN flight
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

easy pred: SELECT T1.t2.t2.t2.t2.t2.t2.t2.
easy gold: SELECT count(*) FROM Transcripts

easy pred: SELECT T2.name FROM High_Schools AS T1 JOIN Student_
easy gold: SELECT name FROM Highschooler WHERE grade  =  10

medium pred: SELECT T1.dept_id FROM student_enrolment_id
medium gold: SELECT T2.transcript_date ,  T1.transcript_id FROM Transcript_Contents AS T1 JOIN Transcripts AS T2 ON T1.transcript_id  =  T2.transcript_id GROUP BY T1.transcript_id HAVING count(*)  >=  2

medium pred: SELECT T1.shop_id, T2.shop_id,
medium gold: SELECT name ,  LOCATION ,  district FROM shop ORDER BY number_products DESC

easy pred: SELECT T1.name FROM cars AS T1 JOIN country AS T2 ON
easy gold: SELECT COUNT(*) FROM CARS_DATA WHERE Cylinders  >  6;

easy pred: SELECT T1.name FROM Person WHERE T1.name = "Russ
easy gold: SELECT Name FROM people WHERE Nationality != "Russia"

easy pred: SELECT T1.player_id FROM tournament_id WHERE T1.
easy gold: SELECT tourney_name FROM matches GROUP BY tourney_name HAVING count(*)  >  10

medium pred: SELECT flight_id FROM flight AS T1 JOIN airport AS T2
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

medium pred: SELECT T1.name FROM Poker_players AS T1 JOIN players AS
medium gold: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings DESC

medium pred: SELECT T1.name, T2.age, T2.weight, T
medium gold: SELECT name ,  age ,  weight FROM Dogs WHERE abandoned_yn  =  1

easy pred: SELECT T2.course_id FROM teacher AS T1 JOIN teacher AS
easy gold: SELECT count(*) FROM teacher

extra pred: SELECT owner_id, owner_id, owner_id
extra gold: SELECT T1.owner_id ,  T1.last_name FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY count(*) DESC LIMIT 1

easy pred: SELECT DISTINCT T1.channel_id FROM TV_channels AS
easy gold: SELECT Package_Option FROM TV_Channel WHERE series_name = "Sky Radio";

extra pred: SELECT T2.city_id FROM people AS T1 JOIN countries AS
extra gold: SELECT sum(Population) FROM country WHERE Name NOT IN (SELECT T1.Name FROM country AS T1 JOIN countrylanguage AS T2 ON T1.Code  =  T2.CountryCode WHERE T2.Language  =  "English")

extra pred: SELECT T1.owner_id, T1.owner_id,
extra gold: SELECT T1.owner_id ,  T1.zip_code FROM Owners AS T1 JOIN Dogs AS T2 ON T1.owner_id  =  T2.owner_id JOIN Treatments AS T3 ON T2.dog_id  =  T3.dog_id GROUP BY T1.owner_id ORDER BY sum(T3.cost_of_treatment) DESC LIMIT 1

medium pred: SELECT T1.Airline_ID FROM airports AS T1 JOIN flight
medium gold: SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLIGHTS AS T2 ON T1.uid  =  T2.Airline WHERE T2.DestAirport  =  "AHD"

extra pred: SELECT T1.model_name FROM cars AS T1 JOIN country AS T
extra gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.Model  =  T2.Model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.Id JOIN CAR_MAKERS AS T4 ON T1.Maker  =  T4.Id WHERE T3.weight  <  3500 AND T4.FullName != 'Ford Motor Company';

hard pred: SELECT T1.player_id FROM player_id WHERE T1.
hard gold: SELECT winner_name FROM matches WHERE YEAR  =  2013 INTERSECT SELECT winner_name FROM matches WHERE YEAR  =  2016

extra pred: SELECT T2.state_id FROM afghan_state_state_
extra gold: SELECT Name FROM country WHERE Continent  =  "Africa"  AND population  <  (SELECT min(population) FROM country WHERE Continent  =  "Asia")

medium pred: SELECT T1.name, T2.birth_date FROM person AS T1
medium gold: SELECT Name ,  Birth_Date FROM people ORDER BY Name ASC

medium pred: SELECT T1.document_type_code FROM Template_Types AS T1
medium gold: SELECT count(*) FROM Documents AS T1 JOIN Templates AS T2 ON T1.Template_ID  =  T2.Template_ID WHERE T2.Template_Type_Code  =  'PPT'

medium pred: SELECT T1.name, T2.name, T2.name, T
medium gold: SELECT T3.Name ,  T2.Course FROM course_arrange AS T1 JOIN course AS T2 ON T1.Course_ID  =  T2.Course_ID JOIN teacher AS T3 ON T1.Teacher_ID  =  T3.Teacher_ID

easy pred: SELECT T1.channel_id FROM TV_channels AS T1 JO
easy gold: SELECT count(*) FROM TV_Channel WHERE LANGUAGE = "English";

medium pred: SELECT flight_id FROM airports AS t1 JOIN flight AS
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.SourceAirport   =  T2.AirportCode WHERE T2.City  =  "Aberdeen"

easy pred: SELECT T1.id FROM T1.channel_id WHERE T1.
easy gold: SELECT id FROM tv_channel GROUP BY country HAVING count(*)  >  2

medium pred: SELECT T1.name, T2.name, T2.name, T
medium gold: SELECT T1.Name FROM conductor AS T1 JOIN orchestra AS T2 ON T1.Conductor_ID  =  T2.Conductor_ID GROUP BY T2.Conductor_ID HAVING COUNT(*)  >  1

medium pred: SELECT T1.name FROM car_making AS T1 JOIN country AS T
medium gold: SELECT count(*) FROM CAR_MAKERS AS T1 JOIN COUNTRIES AS T2 ON T1.Country  =  T2.CountryId WHERE T2.CountryName  =  'france';

medium pred: SELECT T1.Type_Code FROM Template_Type_Type_Type_Type_
medium gold: select other_details from paragraphs where paragraph_text like 'korea'

hard pred: SELECT T1.car_name FROM avg(T1.car_name
hard gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

hard pred: SELECT DISTINCT T1.model_name FROM card_cards AS T
hard gold: SELECT DISTINCT T1.model FROM MODEL_LIST AS T1 JOIN CAR_NAMES AS T2 ON T1.model  =  T2.model JOIN CARS_DATA AS T3 ON T2.MakeId  =  T3.id WHERE T3.year  >  1980;

medium pred: SELECT T1.name, T2.name, T2.grade, T
medium gold: SELECT T2.name ,  count(*) FROM Likes AS T1 JOIN Highschooler AS T2 ON T1.student_id  =  T2.id GROUP BY T1.student_id

hard pred: SELECT T1.student_id FROM student_id WHERE T
hard gold: SELECT stuid FROM student EXCEPT SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat'

medium pred: SELECT T1.course_id FROM teacher AS T1 JOIN teacher AS
medium gold: SELECT Hometown FROM teacher ORDER BY Age ASC LIMIT 1

hard pred: SELECT T1.name, T2.population, T2.population
hard gold: SELECT Name ,  Population ,  LifeExpectancy FROM country WHERE Continent  =  "Asia" ORDER BY SurfaceArea DESC LIMIT 1

easy pred: SELECT T2.name, T2.name, T2.name, T
easy gold: SELECT count(DISTINCT GovernmentForm) FROM country WHERE Continent  =  "Africa"

medium pred: SELECT T1.title FROM cartoon AS T1 JOIN tv AS T
medium gold: SELECT Title FROM Cartoon WHERE Directed_by = "Ben Jones" OR Directed_by = "Brandon Vietti";

easy pred: SELECT T2.city_id FROM avg(T2.state_
easy gold: SELECT count(DISTINCT LANGUAGE) FROM countrylanguage

extra pred: SELECT T1.name, T2.name, T2.name, T
extra gold: SELECT T1.name ,  T2.date_of_treatment FROM Dogs AS T1 JOIN Treatments AS T2 ON T1.dog_id  =  T2.dog_id WHERE T1.breed_code  =  ( SELECT breed_code FROM Dogs GROUP BY breed_code ORDER BY count(*) ASC LIMIT 1 )

medium pred: SELECT T1.professional_id FROM treatment AS T1 JOIN t
medium gold: SELECT T1.professional_id ,  T1.cell_number FROM Professionals AS T1 JOIN Treatments AS T2 ON T1.professional_id  =  T2.professional_id GROUP BY T1.professional_id HAVING count(*)  >=  2

medium pred: SELECT T1.player_id FROM T1.player_id WHERE
medium gold: SELECT sum(tours) ,  ranking_date FROM rankings GROUP BY ranking_date

medium pred: SELECT t1.document_type_code, t2.document_type
medium gold: SELECT document_id ,  document_name ,  document_description FROM Documents

easy pred: SELECT t1.schema_id FROM student AS t1
easy gold: SELECT ID FROM Highschooler WHERE name  =  "Kyle"

medium pred: SELECT T1.name, T2.name, T2.name, T
medium gold: SELECT charge_type ,  charge_amount FROM Charges

extra pred: SELECT T1.name, T2.name, T2.name, T
extra gold: SELECT count(*) FROM Professionals WHERE professional_id NOT IN ( SELECT professional_id FROM Treatments )

hard pred: SELECT T2.language_id FROM country_id WHERE T1.
hard gold: SELECT LANGUAGE FROM countrylanguage GROUP BY LANGUAGE ORDER BY count(*) DESC LIMIT 1

easy pred: SELECT T2.student_id FROM pets AS T1 JOIN student
easy gold: SELECT count(DISTINCT pettype) FROM pets

easy pred: SELECT T1.name FROM avg(T1.name) ORDER B
easy gold: SELECT Name FROM conductor ORDER BY Age ASC

medium pred: SELECT document_type_code, document_type_code, document_
medium gold: SELECT document_id ,  template_id ,  Document_Description FROM Documents WHERE document_name  =  "Robbin CV"

medium pred: SELECT T2.name, T2.name, T2.name, T
medium gold: SELECT Name FROM country ORDER BY Population ASC LIMIT 3

medium pred: SELECT T1.Schema_Title_id FROM Student_i
medium gold: SELECT student_id ,  count(*) FROM Likes GROUP BY student_id

hard pred: SELECT T1.player_id, T1.player_id,
hard gold: SELECT T1.country_code ,  T1.first_name FROM players AS T1 JOIN rankings AS T2 ON T1.player_id  =  T2.player_id ORDER BY T2.tours DESC LIMIT 1

medium pred: SELECT T1.name, T2.name, T2.name, T
medium gold: SELECT T1.killed ,  T1.injured FROM death AS T1 JOIN ship AS t2 ON T1.caused_by_ship_id  =  T2.id WHERE T2.tonnage  =  't'

medium pred: SELECT T2.name, T2.year_of_unabhängig, T
medium gold: SELECT Name ,  SurfaceArea ,  IndepYear FROM country ORDER BY Population LIMIT 1

medium pred: SELECT tv_series_name, tv_language
medium gold: SELECT max(SHARE) , min(SHARE) FROM TV_series;

extra pred: SELECT T1.name, T2.name, T2.name, T
extra gold: SELECT T1.breed_name FROM Breeds AS T1 JOIN Dogs AS T2 ON T1.breed_code  =  T2.breed_code GROUP BY T1.breed_name ORDER BY count(*) DESC LIMIT 1

hard pred: SELECT T1.name, T2.year FROM ticket AS T1 JOIN
hard gold: SELECT t1.name ,  t1.age FROM visitor AS t1 JOIN visit AS t2 ON t1.id  =  t2.visitor_id ORDER BY t2.num_of_ticket DESC LIMIT 1

easy pred: SELECT T1.Airline_ID FROM airports AS T1 JOIN airport
easy gold: SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"

medium pred: SELECT T1.name FROM Poker_players AS T1 JOIN JO
medium gold: SELECT T1.Name FROM people AS T1 JOIN poker_player AS T2 ON T1.People_ID  =  T2.People_ID ORDER BY T2.Earnings DESC

medium pred: SELECT T1.address_id, T1.address_
medium gold: SELECT DISTINCT T1.date_arrived ,  T1.date_departed FROM Dogs AS T1 JOIN Treatments AS T2 ON T1.dog_id  =  T2.dog_id

medium pred: SELECT T1.type_code FROM treatment AS T1 JOIN owner AS T
medium gold: SELECT DISTINCT breed_code ,  size_code FROM dogs

medium pred: SELECT T1.manager_name, T2.distrikt FROM shop AS
medium gold: SELECT manager_name ,  district FROM shop ORDER BY number_products DESC LIMIT 1

hard pred: SELECT T1.student_id FROM Student_id WHERE T
hard gold: SELECT id FROM Highschooler EXCEPT SELECT student_id FROM Friend

easy pred: SELECT avg(Meilen) FROM cars AS t1
easy gold: SELECT avg(mpg) FROM CARS_DATA WHERE Cylinders  =  4;

easy pred: SELECT avg(T1.player_id) FROM Poker_player
easy gold: SELECT avg(Earnings) FROM poker_player

medium pred: SELECT T1.Airline_ID FROM Flight_Airline AS T1 JO
medium gold: SELECT T1.FlightNo FROM FLIGHTS AS T1 JOIN AIRLINES AS T2 ON T2.uid  =  T1.Airline WHERE T2.Airline  =  "United Airlines"

extra pred: SELECT T1.Airline_ID FROM airports AS T1 JOIN flight
extra gold: SELECT T1.AirportCode FROM AIRPORTS AS T1 JOIN FLIGHTS AS T2 ON T1.AirportCode  =  T2.DestAirport OR T1.AirportCode  =  T2.SourceAirport GROUP BY T1.AirportCode ORDER BY count(*) LIMIT 1

hard pred: SELECT T1.Airline_ID FROM Flights AS T1 JOIN Flight
hard gold: SELECT count(*) FROM FLIGHTS AS T1 JOIN AIRPORTS AS T2 ON T1.DestAirport  =  T2.AirportCode JOIN AIRLINES AS T3 ON T3.uid  =  T1.Airline WHERE T2.City  =  "Aberdeen" AND T3.Airline  =  "United Airlines"

                     easy                 medium               hard                 extra                all
count                23                   42                   17                   18                   100
=====================   EXECUTION ACCURACY     =====================
execution            0.000                0.000                0.000                0.000                0.000

====================== EXACT MATCHING ACCURACY =====================
exact match          0.000                0.000                0.000                0.000                0.000

---------------------PARTIAL MATCHING ACCURACY----------------------
select               0.000                0.000                0.000                0.000                0.000
select(no AGG)       0.000                0.000                0.000                0.000                0.000
where                0.000                0.000                0.000                0.000                0.000
where(no OP)         0.000                0.000                0.000                0.000                0.000
group(no Having)     0.000                0.000                0.000                0.000                0.000
group                0.000                0.000                0.000                0.000                0.000